# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/
*.yaml

# Packaging
build/
dist/
*.egg-info/

# Test/cache
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Editor/OS
.vscode/
.idea/
.DS_Store

# Project data
/data/
